<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="book.scss"/>
  </head>

  <body>
<!--部分テンプレートの設定-->
<!--ログインしているユーザーの情報取得-->
                      <h1>User info<h1>
                      <%= image_tag @user.get_profile_image(100,100) %>
                      <table class="table">
                        <thead>
                          <!--表内の空白設定-->
                          <tr></tr>
                          <!--ユーザー名-->
                          <tr>
                          <th class="name">name</th>
                          <th class="name"><%= @user.name%></th>
                       　  </tr>
                       　<!--自己紹介欄-->
                       　<tr>
                       　  <th class="name">introduction</th>
                       　  <th class="name"><%= @user.introduction %></th>
                       　</tr>
                        </thead>
                      </table>
                      <%=link_to edit_user_path(@user.id),class:"btn btn-outline-secondary btn-block" do %>
                        <i class="fa-solid fa-user-cog fas fa-user-cog"></i>
                      <%end%>
              <!--投稿用のフォーム作成-->

                      <h1>New book</h1>
                      <%= form_with model: @book do |f|%>
                      <h4>Title</h4>
                      <%= f.text_field :title %>
                      <h4>Option</h4>
                      <%= f.text_area :body %>
                      <%= f.submit 'Create Book'%>
              <% end %>
  </body>
</html>