<h1>Books#index(ログインユーザー用)</h1>
<%= flash[:notice] %>
<!--部分テンプレートの呼び出し-->
<%= render 'user', book: @book %>

<!--そのユーザーが登録した本情報の表示-->
<h4>Users</h4>
<% @users.each do |users | %>
<p><%= image_tag users.get_profile_image(100,100) %><p>
<p>name<%= users.name %></p>
<%= link_to "show",user_path(users.id)%>
<% end %>