<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="users.scss"/>
  </head>
<body>
  <main>
    <%= flash[:notice] %>
        <div class= "container">
          <div class="row">
            <div class="col-md-3">
              <!--部分テンプレートの呼び出し-->
              <%= render 'user' %>
            </div>
        <div class="col-md-8 offset-md-1">
              <!--そのユーザーが登録した本情報の表示-->
              <h4>Books</h4>
              <table class="table">
                <!--テーブルのヘッダー部分-->
                <thead>
                  <tr>
                    <!--空白設定-->
                    <th></th>
                    <!--Title欄-->
                    <th>Title</th>
                    <!--Opinion欄-->
                    <th>Opnion</th>
                  </tr>
                </thead>
              <% @user_book.each do | book |%>
              <tbody>
                <tr>
                <td><a href="/users/<%=book.user.id%>"><%= image_tag book.user.get_profile_image(100,100) %></a></td>
                <td><%= link_to book_path(book.id) do %><%= book.title %><% end %></td>
                <td><%= book.body %></td>
                <% end %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
