<h1>Books(ログインユーザー用)</h1>
<%= flash[:notice] %>
<%= flash[:notice1] %>
<!--部分テンプレートの呼び出し-->
<%= render 'user', book: @book %>

<!--そのユーザーが登録した本情報の表示-->
<h4>Books</h4>
<% @user_book.each do | book |%>
<div>
  <p><%=image_tag book.user.get_profile_image(100,100)%></p>
  <p>Title:
  <%= link_to book_path(book.id) do %><%= book.title %>
  <% end %></p>
  <p>Option:<%= book.body %></p>
</div>
<% end %>
