<h1>各ユーザー一覧</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!--部分テンプレートで呼び出し-->
<%= render 'book', book: @book %>

<!--投稿しているユーザー本一覧を表示-->
<h4>Books</h4>
<% @books.each do | book |%>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <p>Title:
  <%= link_to book_path(book.id) do %><%= book.title %>
  <% end %></p>
  <p>Option:<%= book.body %></p>
</div>
<% end %>