<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
  </head>

<body>
<main>
        <% if @book.errors.any? %>
          <%= @book.errors.count %>件のエラーが発生しました
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      <div class="container px5 px-sm-0">
       <div class="row">
        <div class="col-md-3">
          <!--部分テンプレートで呼び出し-->
          <%= render 'book', book: @book %>
        </div>
        <div class="col-md-8 offset-md-1">
        <!--投稿しているユーザー本一覧を表示-->
        <h4>Books</h4>
        <table class="table">
          <!--テーブルのヘッダー部分-->
          <th>
            <tr>
              <!--空白設定-->
                <th></th>
              <!--Title欄-->
                <th>Title</th>
              <!--Opinion欄-->
                <th>Opnion</th>
            </tr>
          </th>
          <!--テーブルの各項目-->
           <% @books.each do | book |%>
          <td>
            <tr>
              <td><%= image_tag book.user.get_profile_image(100,100) %></td>
              <td><%= link_to book_path(book.id) do %><%= book.title %><% end %></td>
              <td>Option:<%= book.body %></td>
            <% end %>
            </tr>
          </td>
          </table>
         </div>
        </div>
      </div>
     </main>
   </body>
</html>