<h1>Book details</h1>
<%= flash[:notice] %>
<!--部分テンプレートで呼び出し-->
<%= render 'book', book: @book %>
<!--その本の編集-->
<p><%= @books.title %></p>
<p><%= @books.body %></p>
<p><%= link_to "#{@books.user.name}", books_path %>
   <%= image_tag @books.user.get_profile_image(100,100)  %>
</p>
<!--以下編集ボタンはログインしているユーザーのみにしか表示しない-->
<% if @books.user== current_user %>
<p><%= link_to "Edit",edit_book_path(@books.id) %></p>
<p><%= link_to "Destroy",book_path(@books.id), method: :DELETE %></p>
<% end %>