<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0ea1809b33.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Bookers2</title>
  </head>

  <body>
    <!--全画面に設定に適用されているヘッダー部分の作成-->
    <header　class = "shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><font color="white">Bookers</font></a>
            <div class = "collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav ml-auto">
               <% if user_signed_in? %>
                <!--サインインしている時のヘッダー表示-->
                <li class="nav-item">
                  <i class="fa-solid fa-home fas fa-home" style="color: #4cd4e6;"></i>
                    <%= link_to "Home" ,user_path(current_user),class:"link" %>
                </li>
                <li class="nav-item">
                  <a href="/users" data-method="get"><i class="fa-solid fa-users"></i><font color="white">Users</font></a>
                </li>
                <li class="nav-item">
                  <a href="/books" data-method="get"><i class="fa-solid fa-book-open"></i><font color="white">Books</font></a>
                </li>
                <li class="nav-item">
                  <a href="/users/sign_out" data-method="delete"><i class="fas fa-sign-out-alt"></i><font color="white">Log out</font></a>
                </li>
                <% else %>
                <!--サインインしていない時のヘッダー表示-->
                <li class="nav-item">
                  <a href="/"><i class="fa-solid fa-home fas fa-home"></i><font color="white">Home</font></a>
                </li>
                <li class="nav-item">
                  <a href="/home/about"><i class="fa-solid fa-link"></i><font color="white">About</font></a>
                </li>
                <li class="nav-item">
                  <a  href="/users/sign_up"><i class="fa-solid fa-user-plus"></i><font color="white">Sign up</font></a>
                </li>
                <li class="nav-item">
                  <a href="/users/sign_in"><i class="fas fa-sign-in-alt"></i><font color="white">Log in</font></a>
                </li>
                <% end %>
             </ul>
          </div>
        </div>
       </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="container">
        <div class="row">
            <div class="mx-auto">
              <p>CopyRight Infratop.inc</p>
            </div>
        </div>
      </div>
    </footer>
  </body>
</html>
